<div class="card">
  <div class="card-body">
    <form (ngSubmit)="submitForm()" class="formulario">
      <div class="campo">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" [(ngModel)]="cedula" name="cedula" required>
      </div>
      <div class="campo">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
      </div>
      <div class="campo">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required>
      </div>
      <div class="campo">
        <label for="ciudad">Ciudad:</label>
        <select id="ciudad" [(ngModel)]="ciudad" name="ciudad" required>
          <option value="" disabled selected>Selecciona una ciudad</option>
          <option value="Machala">Bogotá</option>
          <option value="Guabo">Medellín</option>
          <option value="Pasaje">Cali</option>

        </select>
      </div>
      <div class="botones">
        <button type="submit">OK</button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
